<div class="left">
  <h2> Edit Contact </h2>

  <form id="edit" action="<%="/contacts/#{@contact.id}"%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>First Name:</label>
    <input type="text" id="first_name" name="first_name"><br><br>
    <label>Last Initial:</label>
    <input type="text" name="last_initial" id="last_initial"><br><br>
    <label>Photo Url (optional):</label>
    <input type="text" name="photo" id="photo"><br><br>
    <label>Facts:</label>
    <textarea name="facts" id="facts" form="edit" placeholder="Please use this format: [topic]information + [topic]information + [topic]information"></textarea><br><br>
    <input type="submit" class="fbutton" id="submit" name="submit" value="Edit Contact">
  </form><br>

</div>

<div class="right">
  <% if flash.has?(:message) %>
    <div class="messages">
      <% if flash[:message].kind_of?(Array) %>
        <% flash[:message].each do |message| %>
        <b><%= message %></b><br>
        <% end %>
      <% else %>
        <b><%= flash[:message] %></b>
      <% end %>
      <%= flash[:message] = nil %>
    </div>
  <% end %>

  <h2><%= "#{@contact.full_name}" %></h2>
    <% if @contact != nil %>
        <% if @contact.photo != nil && @contact.photo != "" %>
            <p><img class="tiny" src="<%=@contact.photo%>"></p>
        <% else %>
            <p><img class="tiny" src="<%= url('/images/default.png') %>"></p>
        <% end %>
      <% @contact.facts.each do |fact| %>
        <p><u><%= "#{fact.topic.gsub("_", " ").capitalize}:" %></u> <%="#{fact.information.capitalize}" %>
        <a href="<%= "/facts/#{fact.id}/delete" %>"><img src="<%= url('/images/red_x.png') %>"></a></p>
      <% end %>
    <% end %>
    <form id="delete" action="<%= "/contacts/#{@contact.id}" %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" class="fbutton" id="submit" name="submit" value="Delete Contact">
    </form>
</div>
