<div class="one">
  <h2> Shine the searchlight </h2>
  <% if @contacts %>
    <% @contacts.each do |contact| %>
     <div class="tiles">
       <%= "#{contact.full_name}" %> <br><br>
       <% if contact.photo != nil && contact.photo != "" %>
           <img class="tiny" src="<%=contact.photo%>"><br>
       <% else %>
           <img class="tiny" src="<%= url('/images/default.png') %>"><br>
       <% end %>
       <br>
       <a href="<%= "/contacts/#{contact.id}" %>"> <button class="bigbutton">View</button> </a> <a href="<%= "/contacts/#{contact.id}/edit" %>"> <button class="bigbutton">Edit</button> </a>
     </div>
    <% end %>
  <% end %>
</div>
