<div class="left">
  <h2> Dig Deep </h2>
  <% if @contact %>
    <p><u><%= "Full name:" %></u> <%= "#{@contact.full_name}" %></p>
    <% @contact.facts.each do |fact| %>
      <p><u><%= "#{fact.topic.gsub("_", " ").capitalize}:" %></u> <%= "#{fact.information.capitalize}" %></p>
    <% end %>
    <a href="<%="/contacts/#{@contact.id}/edit" %>"> <button class="bigbutton">Edit Contact</button> </a>
  <% end %>
</div>

<div class="right">
  <h2> Identify </h2>
    <% if @contact.photo != nil && @contact.photo != "" %>
        <img class="profile" src="<%=@contact.photo%>">
    <% else %>
        <img class="profile" src="<%= url('/images/default.png') %>">
    <% end %>
  <p>Visit <a class="glow" href="/contacts">"Illuminate"</a> to view more contacts</p>
</div>
